.main-frame {
    padding: 30px;
}
.second-frame {
    height: 500px;
    width: 700px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
    
}